.neumo-button {
    width: 200px;
    height: 60px;
    box-shadow:  8px 4px 8px #7e7e7e, -8px -4px 8px white;
    color: white;
    font-size: 28px;
    font-weight: 300;
    font-style: bold;
    font-family: 'Reem Kufi', sans-serif;
    border-radius: 7.5px;
    border: 1px solid rgb(0,0,0,0);
}
.neumo-button:active {
    box-shadow:  8px 4px 8px #7e7e7e inset, -8px -4px 8px white inset;
}