.switches {
  display: flex;
  justify-content: space-around;
}
#switch-1, #switch-2 {
  width: 0;
  height: 0;
  visibility: hidden;
}
.slider-1, .slider-2 {
  display: block;
  width: 100px;
  height: 3rem;
  background: linear-gradient(180deg, #E3EBF5 0%, #E3EBF5 100%);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -2px 4px #FFFFFF;
}

.slider-1::after, .slider-2::after {
  content: "";
  width: 30px;
  height: 30px; 
  background-color: #9BAACF;
  position: absolute;
  border-radius: 70px;
  top: 9px;
  left: 9px;
  transition: all 0.5s;
}

#switch-1:checked + .slider-1:after, #switch-2:checked + .slider-2:after {
  left: calc(100% - 10px);
  transform: translateX(-100%);
  transition: all 0.5s;
}

#switch-1:checked + .slider-1, #switch-2:checked + .slider-2 {
    background: linear-gradient(180deg, #84A9FE 0%, #396FF9 100%);
    transition: all 0.5s;
}
#switch-1:checked + .slider-1::after, #switch-2:checked + .slider-2::after {
    background-color: #e8f5f7;
    transition: all 0.5s;
}

.slider-1:active:after, .slider-2:active:after  {
  width: 16px;
  transition: all 0.5s;
}

/* Rectangle 31 */

