.neumo-slider {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 12px;
}
.MuiSlider-root {
    
}
.MuiSlider-rail {
    box-shadow:  8px 4px 8px #7e7e7e inset, -8px -4px 8px white inset;
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid rgba(0, 0, 0, 0) !important;
}
.MuiSlider-track {
    background: #396FF9;
    background-image: linear-gradient(180deg, #84A9FE 0%, #396FF9 100%);
    border: 1px solid rgba(0, 0, 0, 0) !important;
}
.MuiSlider-thumb {
    color: #9DABD0;
    transition: all .3s ease;
}
.MuiSlider-thumb:hover {
    color: #396FF9;
    transition: all .3s ease;
}