.neumo {
    background: linear-gradient(180deg, #84A9FE 0%, #396FF9 100%);
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25), -4px -2px 4px #FFFFFF;
    border-radius: 12.5px;  
}

/* Rectangle 34 */




